//  -----------------------------
//  Accessibility
//  -----------------------------

/* Hide focus styles if they're not needed, for example,
when an element receives focus via the mouse. */
:focus:not(:focus-visible) {
    outline: 0;
}

/* Show focus styles on keyboard focus. */
:focus-visible {
    outline: 3px solid black;
}

.skip-menu-link,
.skip-content-link {
    @include visuallyhidden;
    z-index: 100;
    position: fixed;
    top: 6px;
    left: 6px;
    background-color: $color-white;
    // Reset style on focus
    &:focus {
        @include visuallyhidden(false);
    }
}
