//  -----------------------------
//  Generic style
//  -----------------------------
html,
body {
    overflow-x: hidden;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
svg {
    fill: currentcolor;
}
